

<% @interviews.each do |interview| %>

<div  class="container">
    <div id="int-hover" class="card #efebe9 brown lighten-5">
        <div class="card-content">
            <li class="collection-item valign-wrapper ">
              
                <i class="material-icons">person</i>&emsp; 
                <!-- link_to interview.name, interview.pdf.url -->
                <%= link_to interview.name, interview.pdf.url %>
                <!-- link_to pdf.name, "/pdf2/#{pdf.pdf_file_name}", :style => "color: black!important; opacity:0.8" -->
                  
            </li>
            
        </div>
    </div>
</div>
<% end %>


