<% @interviews.each do |pdf| %>

<div class="container">
    <div class="card #efebe9 brown lighten-5">
        <div class="card-content ">
            <li class="collection-item valign-wrapper ">
                
                <i class="material-icons">person</i>&emsp; 
                <%= link_to pdf.name, "/pdf2/#{pdf.pdf_file_name}" %>
            </li>
            
        </div>
    </div>
</div>
<% end %>


